# Core Django
Django>=5.1.0

# Development Tools
django-debug-toolbar~=5.0.1

# Authentication & Social Auth
django-allauth~=65.3.1

requests~=2.32.3
locust~=2.32.6

# Additional Dependencies
python-dotenv~=1.0.1
Pillow~=11.1.0
protobuf~=5.29.3

PyJWT
django-widget-tweaks
slippers
cryptography
requests-oauthlib
google-generativeai
django-user-agents
api-analytics