
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{% static 'js/modal.js' %}"></script>
</head>
<body>
    {% include "components/sidebar.html" %}
    <main class="ml-16">
        {% block content %}{% endblock %}
    </main>
    {% include "components/create-post-button.html" %}
    {% include "components/create-post-modal.html" %}
</body>
</html>